{% extends "default.html" %}

{% load tz %}

{% load custom_filters i18n %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}


{% block content %}

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'post_list' %}">{% trans "Лента новостей" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ post.title|censor|truncatechars:50 }}</li>
      </ol>
    </nav>

    <h1 class="display-5 my-3">{{ post.title|censor }}</h1>

    <div class="mb-3 text-muted">
        <small>
            {% trans "Автор:" %} <strong>{{ post.author.user.username }}</strong>
        </small>
        <br>
        <small>
            {% trans "Дата:" %} <strong>{{ post.created_at|timezone:TIME_ZONE|date:"d M Y, H:i" }}</strong>
        </small>
        <br>
        <small>
    {% trans "Категории:" %}
    {% for category in post.categories.all %}
        <span class="badge bg-secondary">{{ category.name }}</span>

        {% if user.is_authenticated %}

            {% is_subscribed category as subscribed %}

            {% if subscribed %}
                <a href="{% url 'toggle_subscription' category.id %}"
                   class="btn btn-sm btn-outline-secondary"
                   title="{% trans "Отписаться от" %} {{ category.name }}">
                   {% trans "Отписаться" %}
                </a>
            {% else %}
                <a href="{% url 'toggle_subscription' category.id %}"
                   class="btn btn-sm btn-primary"
                   title="{% trans "Подписаться на" %} {{ category.name }}">
                   {% trans "Подписаться" %}
                </a>
            {% endif %}
        {% endif %}

        {% endfor %}
</small>
    </div>

    <hr>

    <div class="article-content" style="font-size: 1.1rem; line-height: 1.6;">
        {{ post.text|censor|linebreaks }}
    </div>

    <hr class="my-4">
    <a href="{% url 'post_list' %}" class="btn btn-outline-secondary">
        &larr; {% trans "Назад к списку" %}
    </a>

    {% endblock content %}