{% extends "default.html" %}

{% load i18n %}

{% block title %}
{% trans "Удаление" %}
{% endblock title %}

{% block content %}
    <h2>{% trans "Удаление" %}</h2>
    <hr>

    <p>
    {% blocktrans %}Вы уверены, что хотите удалить пост:
       <strong>"{{ post.title }}"</strong>?{% endblocktrans %}
    </p>

    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans "Да, удалить" %}</button>
        <a href="{{ post.get_absolute_url }}" class="btn btn-secondary">{% trans "Отмена" %}</a>
    </form>

{% endblock content %}