<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>

    {% load custom_filters i18n %}

    <p>
    {% blocktrans %}Здравствуй, {{ user.username }}. Новая статья в твоём любимом разделе!{% endblocktrans %}
    </p>

    <hr>

    <h3><a href="{{ site_url }}{{ post.get_absolute_url }}">{{ post.title|censor }}</a></h3>
    <p>
        {{ post.text|striptags|censor|truncatechars:50 }}...
    </p>

    <hr>

    <p>
        <a href="{{ site_url }}{{ post.get_absolute_url }}">
            {% trans "Читать статью полностью" %}
        </a>
    </p>
</body>
</html>